<div
  style="
    width: 1000px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  "
>
  <div style="width: 1000px; text-align: center"><h1>Member Portal</h1></div>
  <div
    id="personalDetails"
    class="personalDetails"
    style="
      width: 500px;
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    "
    *ngIf="showStep == 1"
    class="row m-0 form-field-margin"
  >
    <div><label> Personal Detalis </label></div>
    <form >
      <div>
        <mat-label>Full Name</mat-label>
        <mat-form-field >

          <input matInput #fullName formControlName="fullName" placeholder="Full Name"
             matNativeControl maxlength="50">
             <mat-hint align="end">{{fullName.value.length}} / 50</mat-hint>
        </mat-form-field>

      </div>
      <div>
        <mat-label>Date Of Birth: </mat-label>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div>
        <mat-label>Age: </mat-label>
        <mat-form-field >
          <input matInput formControlName="Age" placeholder="Age"
             matNativeControl>
        </mat-form-field>
      </div>
      <div>
        <button
          mat-button
          mat-flat-button
          color="accent"
          (click)="showSheet2()"
        >
          Next
        </button>
      </div>
    </form>
  </div>

  <div
    id="quote"
    class="quote"
    style="
      width: 500px;
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    "
    *ngIf="showStep == 2"
  >
    <div><label> Quote </label></div>
    <div>
      <mat-label> Occupation:</mat-label>
      <mat-form-field>
        <mat-select
          formControlName="occupation"
          placeholder="Occupation"
          matNativeControl
        >
          <mat-option *ngFor="let occ of occupation" [value]="occ.occupation">
            {{ occ.occupation }}
          </mat-option>
        </mat-select>
        <!-- <mat-hint *ngIf="claimantDetailsForm.get('relationship').invalid && isClaimantDetailsFormValid">
          Please Select Claimant Relationship
        </mat-hint> -->
      </mat-form-field>
    </div>
    <div>

      <mat-label> Sum Insured:</mat-label>
      <mat-form-field >

        <input matInput type="number" class="inpt-right-align" placeholder="enter Sum Insured">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>


    </div>
    <div>
      <mat-label>  Monthly Expenses Total:</mat-label>
      <mat-form-field >

        <input matInput type="number" class="inpt-right-align" placeholder="enter Total Monthly Expenses">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div>
      <mat-label> State:</mat-label>
      <mat-form-field>
        <mat-select
          formControlName="states"
          placeholder="State"
          matNativeControl
        >
          <mat-option *ngFor="let state of states" [value]="state.stateCode">
            {{ state.stateName }}
          </mat-option>
        </mat-select>
        <!-- <mat-hint *ngIf="claimantDetailsForm.get('relationship').invalid && isClaimantDetailsFormValid">
          Please Select Claimant Relationship
        </mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-label>Post code</mat-label>
      <mat-form-field >

        <input matInput #postalCode formControlName="postalCode"  maxlength="4" placeholder="Ex. 1234">
        <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <button mat-button mat-flat-button color="accent" (click)="showSheet1()">
        Previous
      </button>
    </div>
    <div>
      <button mat-button mat-flat-button color="accent">Calculate</button>
    </div>
  </div>
</div>
