

.divPortal
{
   padding:10px; display: block;
  margin-left: auto;
  margin-right: auto;}

  .headerLabel
  {

    width: 1000px; text-align: center;
  }

  .inpt-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .inpt-right-align {
    text-align: right;
  }

  input.inpt-right-align::-webkit-outer-spin-button,
  input.inpt-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.inpt-right-align {
    -moz-appearance: textfield;
  }
